<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
</head>
<body>
    <header th:fragment="header" class="container-fluid bg-primary py-1">

        <nav class="m-auto">
            <ul class="list-group list-group-horizontal">
                <a th:href="@{/}"><li class="list-group-item list-group-item-action flex-fill">Home</li></a>
                <a th:href="@{/events}"><li class="list-group-item list-group-item-action flex-fill">Events</li></a>
                <a th:href="@{/newsletter}"><li class="list-group-item list-group-item-action flex-fill">Newsletter</li></a>
                <a th:href="@{/contact}"><li class="list-group-item list-group-item-action flex-fill">Contact Us</li></a>
            </ul>
        </nav>
    </header>
    <footer th:fragment="footer">
        <p>&copy; 2022 Orefox</p>
    </footer>
</body>
</html>