<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Error: 401</title>
</head>
<body layout:fragment="content">
    <h1>Hold up there!</h1>
    <p>It looks like you were trying to access a document you don't have permission to see.</p>
    <ul>
        <li>Try clearing your cookies.</li>
        <li>Try logging out and logging in again.</li>
        <li>Try contacting the administrators and checking if this is a mistake if neither of the above work.</li>
    </ul>
</body>
</html>