<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Error: 404</title>
</head>
<body layout:fragment="content">
    <h1>Hold up there!</h1>
    <p>It looks like you were trying to access a document that does not exist</p>
    <ul>
        <li>Try reloading the page</li>
        <li>Make sure the link is correct.</li>
        <li>Try contacting the administrators and checking if this is a mistake if neither of the above work.</li>
    </ul>
</body>
</html>