<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Error: 500</title>
</head>
<body layout:fragment="content">
    <h1>Oops, something went wrong!</h1>
    <h2>It's not you it's us. Looks like we're having some technical difficulties.</h2>
    <p>We are working behind the scenes to resolve this issue ASAP, but it may take a while. Please check back again soon.</p>
</body>
</html>