<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{fragments/template}">
<head>
    <!--Calendar-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
    <script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
    <style>
        .row-striped:nth-of-type(odd){
            background-color: #efefef;
            border-left: 4px #000000 solid;
        }

        .row-striped:nth-of-type(even){
            background-color: #ffffff;
            border-left: 4px #efefef solid;
        }

        .row-striped {
            padding: 15px 0;
        }
    </style>

    <!--Mapping-->
    <link rel="stylesheet" th:href="@{/webjars/leaflet/1.7.1/leaflet.css}">
    <script th:src="@{/webjars/leaflet/1.7.1/leaflet.js}"></script>
    <!--TODO Replace these with Webjars-->
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js"></script>
</head>
<body layout:fragment="content">
    <div class="container-fluid">
        <div th:if="${authorised}" class="position-absolute end-0">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-modal"><i class="fa-solid fa-pencil"></i></button>
        </div>
        <div th:if="${authorised}" class="modal fade" tabindex="-1" id="edit-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit this listing</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <script th:src="@{/js/listing-edits.js}"></script>
                    <form id="edit-form">
                        <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Event Title" aria-label="Event Title">
                                        </div>
                                        <div class="col-3">
                                            DATE-START
                                        </div>
                                        <div class="col-3">
                                            DATE-END
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--Address/ Online Location-->
                                        <div class="col">aa</div>
                                    </div>
                                    <div class="row">
                                        <!--Content-->
                                        <div class="col">
                                            <textarea class="form-control" id="listing-description" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--Social Media-->
                                        <div class="col">aa</div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="postEditForm()">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2 text-right">
                    <h1 class="display-4"><span class="badge badge-secondary" th:text="${event.getDayStart()}">00</span></h1>
                    <h2 th:text="${event.getMonthYearStart()}">MMMM YYYY</h2>
                </div>
                <div class="col-10" style="padding:5vh;">
                    <h3 class="text-uppercase"><strong th:text="${event.getListingTitle()}">ERROR: No Event Name</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item" th:each="socialMedia : ${event.getSocialMedia()}">
                            <a th:href="${socialMedia.getUrl()}">
                                <i th:classappend="${socialMedia.getIcon()}"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa-solid fa-calendar-days" aria-hidden="true"></i>
                            <div th:text="${event.getDayOfWeek()}">Monday</div>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa-solid fa-clock" aria-hidden="true"></i>
                            <div th:text="${event.getStartEnd()}">12:00 AM - 3:00 PM</div>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-location-arrow" aria-hidden="true"></i>
                            <div th:text="${event.getLocation().getLocationType()}"></div>
                        </li>
                    </ul>
                    <p style="padding-top:5vh; padding-bottom:5vh;" th:text="${event.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bottom">
        <!--TODO Mapping-->
        <div class="container-fluid">
            <div id="mapid" style="height:400px;"></div>
            <script>


                var mymap = L.map('mapid').setView([51.505, -0.09], 13);

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1
                }).addTo(mymap);

                L.marker([51.5, -0.09]).addTo(mymap)
                    .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

                var popup = L.popup();

                function onMapClick(e) {
                    popup
                        .setLatLng(e.latlng)
                        .setContent("You clicked the map at " + e.latlng.toString())
                        .openOn(mymap);
                }

                mymap.on('click', onMapClick);


            </script>
        </div>
    </div>
</body>
</html>
